*{
	box-sizing: border-box;
}

#top a {
	text-decoration: none;
	color: #000;
}

#top{
	background-color: #fdb92a;
}

.fab , .fas, .far{
	font-size: 1.4em;
}

#icon1{
	float: right;
}

nav h2{
	color: #51b167;
}

#navLinks{
	margin-right: 3em;
}

#navLinks ul{
	display: flex;
	flex-direction: row;
}

#navLinks a{
	color: #000;
}

#head{
	background-color: #dff4e5;
	padding-bottom: 2em;
}



/*slideshow*/

#img1{
	margin: 6em;
}

#img3{
	margin: 8em;
}

.mySlides,.slides2 {
	display: none;
}

/*slideshow container*/
.slideshow-container{
	position: relative;
	margin: auto;
}

/*next and previous button*/
.prev, .next{
	cursor: pointer;
	position: absolute;
	top: 50%;
	width: auto;
	padding:16px;
	color: #000;
	font-weight: bold;
	font-size: 18px;
	transition: 0.6s ease;
	border-radius: 0 3px 3px 0;
	user-select: none;
	text-decoration: none;
}

/*position the next button to the right*/

.prev{
	left: 2em;
	border-radius: 50%;
	background-color: #fff;
}

.next{
	right: 2em;
	border-radius: 50%;
	background-color: #fff;
}

.prev:hover, .next:hover{
	color: #fff;
	background-color: rgba(0,0,0,0.8);
}

/*fading animation*/

.fade{
	-webkit-animation-name:fade;
	-webkit-animation-duration:1.5s;
	animation-name: fade;
	animation-duration: 1.5s;
}

.fade:not(.show) {
    opacity: 1;
}

@-webkit-keyframes fade{
	from {opacity: .4}
	to {opacity: 1}
}

@keyframes fade{
	from {opacity: .4}
	to {opacity: 1}
}

#home img{
	width: 45%;
}

#home > h1{
	margin-left: 20vw;
	margin-right: 20vw;
	color:#51b167;
	line-height: 0.9em;
}

#home > p{
	margin-left: 20vw;
	margin-right: 20vw;
	color:#51b167;
	line-height: 0.9em;
}

input{
	border: 1px solid #51b167;
	width: 25em;
	padding: 0.3em;
}

.btn-outline-success {
    color: #51b167;
    border-color: #51b167;
}

.btn {
    padding: .32rem .75rem;
    margin-top: -0.3em;
    border-radius: 0em;
}

.btn:hover{
	background-color: #51b167;
}

.details{
	margin-top: 2em;
	width: 5em;
}

img {
	width: 7.9em;
	margin-top: 2em;
}


/*question and answer*/

#question{
	background-color: #fef7e5;
}

#question img{
	width: 70%;
}

#question h4{
	color: #fdb92a;
}

div .qtext{
	margin-top: 2em;
	text-align: justify;
}

#question button{
	background-color: #ffbd35;
}
/*question and answer end*/

/*career counseling start*/
#career{
	background-color: #dff4e5;
}
#career h4{
	color: #51b167;
}
#career button{
	background-color: #51b167;
}
#career img{
	width: 80%;
}
/*career counseling end*/


/*video part start*/

/*statistic start*/

div #statistics{
	background-color: #fff;
}

div #statistics img{
	width: 30%;
}

div #statistics p{
	margin-bottom: 0em;
}

/*statistics end*/

#video {
	background-color: #f0f4f7;
}

div#video h3{
    color: #51b167;
} 

div#video iframe{
	width: 90%;
	height: 20em;
	border: 1px solid #000;
}

/*question section2 start*/

div#section2A{
	background-color: #fdb92a; 	
}

div#section2B{
	background-color: #51b167;
}

div.section2{
	padding: 2em;
}

.section2 button{
	margin-top: 4em;
	border: 2px solid #000;
}

.section2 button:hover{
	background-color: transparent;
	box-shadow: 0em 0em 0.5em 0em #000;
}
/*question section2 end*/


/*slideshow2 start*/
div#slide2{
	background-color: #51b167;
}

div.slide2div{
	background-color: #fff;
}

div.slide2div img{
	height: 16em;
	width: 12em;
}

#boy{
	background-color: #fdb92a;
}

#slide2 blockquote{
	padding: 1em;
	margin-top: 4em;
}
/*slideshow2 end*/



/*card start*/

.card {
    box-shadow: 0.1em 0.6em 1em 0.1em #666;
    border: 0px solid;
    border-radius: 0rem;
    width: 28%;
}

.card-img-top {
    border-top-left-radius: calc(0rem - 0px);
    border-top-right-radius: calc(0rem - 0px);
}

.card img{
	margin-top: 0em;
}

div#cards .row{
    --bs-gutter-x: 0rem;	
}



/*card end*/



/*footer start*/

footer h2{
	margin-bottom: 0em;
	color:#51b167;
}

footer p, li{
	color: #6a7f88;
}

footer li a{
	color: #6a7f88;
}

footer ul li span{
	background-color: #6a7f88;
}

ul#terms{
	display: flex;
	flex-direction: row;
}

ul {
	list-style-type: none;
}

ul#link{
	padding-left: 0em;
	display: flex;
	flex-direction: row;
}

/*footer end*/

@media only screen and (min-width: 992px){
	#home img{
	   width: 30%;
    }
}

@media only screen and (max-width: 991px){
	div #statistics img{
	   width: 50%;
    }

     .section2 button{
		margin-top: 1em;
	}

	#career img{
		margin-top: 7em;
		width: 90%;
	}

	#question img{
		margin-top: 7em;
		width: 90%;
	}

	div.slide2div img{
		height: 12em;
		width: 6em;
	}

	div.slide2div{
		padding-left: 0em;
	}

	#slide2 blockquote{
		padding: 0.1em;
		margin-top: 4em;
	}

	#prev{
		left: 1em;
	}

	#next{
		right: 1em;
	}

	.card {
	    width: 45%;
	}

}

@media only screen and (max-width: 756px){
	div #statistics img{
	   width: 50%;
    }

    .section2 button{
		margin-top: 1em;
	}

	div.slide2div img{
		height: 10em;
		width: 5em;
	}

	div.slide2div{
		padding-left: 0em;
	}

	#slide2 blockquote{
		padding: 0em;
		padding-top: 0.3em;
		margin-top: 0em;
	}

	#prev{
		left: 0em;
	}

	#next{
		right: 0em;
	}

	.card {	
	    width: 90%;
	}

}

@media only screen and (max-width: 576px){
	div#home h1, div#home h5{
	margin-left: 5vw;
	margin-right: 5vw;
 }

	input{
		width: 15em;
		padding: 0.3em;
    }

    #navLinks{
     	margin-right: 0em;
    }

    div #statistics img{
	   width: 60%;
    }

    div.slide2div img{
		height: 10em;
		width: 5em;
	}

	#prev{
		left: 0em;
	}

	#next{
		right: 0em;
	}
}




